---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import PageHeader from "@src/components/PageHeader.astro";

const t = translations(Astro.url);
---

<Layout title="Content Strategy and Planning" description="Lorem ipsum dolor sit amet">
	<Container>
		<div class="mt-6 w-full p-4"><a href="/">← Back to Home</a></div>
		<div class="flex w-full">
			<div class="p-4">
				<PageHeader class="m-0 mb-2 font-bold" headingLevel="h2">Content Strategy and Planning</PageHeader>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto nobis voluptas atque, rerum quaerat cum rem, deleniti quae
					voluptate omnis voluptatibus possimus totam aperiam labore, corrupti nostrum corporis et!
				</p>
				<img
					src="/hc_data_priority.png"
					alt="Google Sheet showing a sorted table of Jira issues based on priority score to assist with assigning the next most important Customer Education content update."
					width="752.5px"
					height="425px"
					class="p-4"
				/>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit voluptatum aliquam consequatur nisi natus maiores provident
					cumque. Exercitationem quia architecto ratione facilis, mollitia, debitis eum nulla dolorum saepe id illum.
				</p>
				<img
					src="/ga_total_users.png"
					alt="Google Sheet showing a sorted table of Total Users according to Google Analytics, to monitor which Help Center articles receive the most traffic."
					width="617.7px"
					height="455.3px"
					class="p-4"
				/>
			</div>
		</div>
	</Container>
</Layout>
