---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import PageHeader from "@src/components/PageHeader.astro";

const t = translations(Astro.url);
---

<Layout title="Metrics and Analysis" description="Lorem ipsum dolor sit amet">
	<Container>
		<div class="mt-6 w-full p-4"><a href="/">← Back to Home</a></div>
		<div class="flex w-full">
			<div class="p-4">
				<PageHeader class="m-0 mb-2 font-bold" headingLevel="h2">Metrics and Analysis</PageHeader>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptate ullam, obcaecati nisi provident animi sequi cum et, sint
					eaque, architecto incidunt officiis quam! Eveniet laborum numquam possimus velit dolores.
				</p>
				<img
					src="/hi_hc.png"
					alt="Google Sheet showing Zendesk article data imported using the Zendesk API combined with Google Analytics data  and used to determine a Helpfulness Index and Priority Score."
					width="853px"
					height="466px"
					class="p-4"
				/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptate ullam, obcaecati nisi provident animi sequi cum et, sint
					eaque, architecto incidunt officiis quam! Eveniet laborum numquam possimus velit dolores.
				</p>
				<img
					src="/sss_hc.png"
					alt="Looker Studio dashboard, showing a Self-Service Score using data from Google Analytics to track the Self-Service Score and estimated savings offered by the Help Center over time."
					width="606px"
					height="764px"
					class="p-4"
				/>
			</div>
		</div>
	</Container>
</Layout>
